<ion-modal-view class="right-screen">
    <ion-header-bar class="bar-chinapost">
        <h1 class="title">搜索</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-close" ng-click="closeSearchLoanListModal()">
            </button>
        </div>
    </ion-header-bar>
    <ion-content style="min-height: 170px;" class="background-fixed section-background">

        <form ng-submit="searchLoanList();closeSearchLoanListModal();">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">客户名称</span>
                    <input type="text" ng-model="inputSearchCondition.cus_name">
                </label>
            </div>
            <div class="padding-horizontal">
                <button type="submit" class="button button-block button-chinapost">查询</button>
            </div>

        </form>


    </ion-content>
</ion-modal-view>
