<ion-view view-title="录入贷后检查表">
    <ion-content class="background-fixed section-background">

        <div class="list padding">


            <div class="item item-divider">
                检查说明
            </div>

            <div class="row row-stretch  responsive-sm row-no-padding">
                <div class="col col-33">
                    <label class="item item-input">
                        <div class="input-label input-label-small">
                            检查日期：
                        </div>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.check_dt"></span>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">生成日期：</span>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.create_dt"></span>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">发放日期：</span>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.loan_begin_date"></span>
                    </label>
                </div>
            </div>


            <div class="row row-stretch responsive-sm row-no-padding">
                <div class="col col-50">
                    <label class="item item-input">
                        <div class="input-label input-label-small">
                            类别：
                        </div>
                        <span ng-bind="loanCheckReportInfo.report_type_nm"></span>
                    </label>
                </div>
                <div class="col col-50">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">期次：</span>
                        <input ng-model="loanCheckReportInfo.now_term" type="text" placeholder="请输入期次">
                    </label>
                </div>
            </div>

            <div class="item item-input input-label-small">
                <span class="input-label">检查规则说明：</span>
                <span class="item-text-wrap" ng-bind="loanCheckReportInfo.rule_spec"></span>
            </div>
        </div>

        <div class="list padding">


            <div class="item item-divider">
                贷款信息基本情况
            </div>

            <div class="row row-stretch  responsive-sm row-no-padding">
                <div class="col col-50">
                    <label class="item item-input">
                        <div class="input-label input-label-small">
                            客户姓名：
                        </div>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.cus_name"></span>
                    </label>
                </div>
                <div class="col col-50">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">贷款金额：</span>
                        <span class="item-text-wrap"
                              ng-bind="loanCheckReportInfo.loan_contract_amount|currency:''"></span>
                    </label>
                </div>
            </div>


            <div class="row row-stretch responsive-sm row-no-padding">
                <div class="col col-50">
                    <label class="item item-input">
                        <div class="input-label input-label-small">
                            贷款品种：
                        </div>
                        <span ng-bind="loanCheckReportInfo.app_op_name"></span>
                    </label>
                </div>
                <div class="col col-50">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            检查方式：
                        </div>
                        <select ng-model="loanCheckReportInfo.check_way">
                            <option value="1">家庭住所</option>
                            <option value="2">生产经营场所</option>
                            <option value="3">电话回访</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="item item-input input-label-small">
                <span class="input-label">合同约定用途：</span>
                <span class="item-text-wrap" ng-bind="loanCheckReportInfo.loan_use_name"></span>
            </div>

            <div class="item item-input input-label-small">
                <span class="input-label">
                    贷款实际用途与明细：
                    <div class="assertive">(首次贷后检查填写)</div>
                </span>
                <div style="width: 100%;">
                    <textarea ng-model="loanCheckReportInfo.loan_actual_user1"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入贷款实际用途与明细(首次贷后检查填写)"></textarea>
                    <textarea ng-model="loanCheckReportInfo.loan_actual_user2"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入贷款实际用途与明细(首次贷后检查填写)"></textarea>
                    <textarea ng-model="loanCheckReportInfo.loan_actual_user3"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入贷款实际用途与明细(首次贷后检查填写)"></textarea>
                    <textarea ng-model="loanCheckReportInfo.loan_actual_user4"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入贷款实际用途与明细(首次贷后检查填写)"></textarea>
                </div>
            </div>

            <div class="item item-input input-label-small">
                <span class="input-label">
                    征信状况及变化：
                </span>
                    <textarea ng-model="loanCheckReportInfo.credit_status_describe"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入征信状况及变化"></textarea>

            </div>


            <label class="item item-input" ng-show="loanCheckReportInfo.overdue_flag=='1'">
                <div class="input-label input-label-small">
                    是否发生逾期：
                </div>
                <span class="item-text-wrap">否</span>
            </label>


            <div class="row row-stretch  responsive-sm row-no-padding" ng-show="loanCheckReportInfo.overdue_flag=='0'">

                <div class="col col-33">
                    <label class="item item-input">
                        <div class="input-label input-label-small">
                            是否发生逾期：
                        </div>
                        <span class="item-text-wrap">是</span>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">逾期金额：</span>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.overdue_amount|currency:''"></span>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">逾期天数：</span>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.overdue_day"></span>天
                    </label>
                </div>
            </div>

            <label ng-show="loanCheckReportInfo.overdue_flag==0" class="item item-input ">
                <span class="input-label input-label-small">逾期原因：</span>
                <input type="text" ng-model="overdue_reason" placeholder="请输入逾期详细原因">
            </label>

        </div>

        <div class="list padding" ng-show="loanCheckReportInfo.itemList.length>0">


            <div class="item item-divider">
                检查内容
            </div>


            <label class="item item-input input-label-small" ng-repeat="checkItem in loanCheckReportInfo.itemList">
                <span class="input-label" ng-bind="checkItem.check_title+'：'"></span>
                    <textarea ng-model="checkItem.context"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入+{{checkItem.check_title}}"></textarea>

            </label>

        </div>

        <div class="list padding">


            <div class="item item-divider">
                检查结论及处理措施
            </div>


            <label class="item item-input input-label-small">
                <span class="input-label">
                    检查结论：
                </span>
                    <textarea ng-model="loanCheckReportInfo.check_result"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入检查结论"></textarea>

            </label>

            <label class="item item-input input-label-small">
                <span class="input-label">
                    采取措施：
                    <div class="assertive">(若无异常,则不需填写)</div>
                </span>
                    <textarea ng-model="loanCheckReportInfo.specific_measure"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入采取措施"></textarea>

            </label>

            <label class="item item-input input-label-small">
                <span class="input-label">
                    其他需要说明的问题：
                </span>
                    <textarea ng-model="loanCheckReportInfo.other_question"
                              style="border: 1px solid #ddd;margin: 10px 0;padding: 5px;" rows="4"
                              placeholder="请输入其他需要说明的问题"></textarea>

            </label>


            <div class="row row-stretch  responsive-sm row-no-padding">
                <div class="col col-50">
                    <label class="item item-input">
                        <div class="input-label input-label-small">
                            检查人员：
                        </div>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.user_name"></span>
                    </label>
                </div>
                <div class="col col-50">
                    <label class="item item-input ">
                        <span class="input-label input-label-small">打印日期：</span>
                        <span class="item-text-wrap" ng-bind="loanCheckReportInfo.check_dt"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class="list padding">
            <div class="item item-button-right" style="background-color: #f5f5f5;">
                照片
                <span class="padding-left" ng-bind="loanCheckReportInfo.pictureType.length"></span>/<span
                    ng-bind="captureParameter.pictureType_num_checkrpt"></span>
                <button class="button button-chinapost"
                        ng-disabled="loanCheckReportInfo.pictureType.length>=captureParameter.pictureType_num_checkrpt"
                        ng-click="addCapture('IMAGE')">
                    <i class="icon ion-android-add"></i>
                </button>
            </div>
            <a ng-repeat="picture in loanCheckReportInfo.pictureType" ng-click="openMedia('IMAGE',picture)"
               class="item item-light item-thumbnail-left item-button-right">
                <img ng-src="{{picture.fullPath}}">
                <h2 ng-bind="picture.name"></h2>
                <p>
                    <span ng-bind="picture.lastModifiedDate|date:'yyyy-MM-dd HH:mm:ss'"></span>
                </p>
                <p><span ng-bind="picture.size/1024/1024|currency:''"></span>MB</p>
                <button class="button button-assertive" ng-click="deleteCapture($event,'IMAGE',picture)"
                        style="top: 32px;">
                    <i class="icon ion-android-delete"></i>
                </button>
            </a>
        </div>

        <div class="list padding">
            <div class="item item-button-right" style="background-color: #f5f5f5;">
                录像 <span class="padding-left" ng-bind="loanCheckReportInfo.videoType.length"></span>/<span
                    ng-bind="captureParameter.videoType_num_checkrpt"></span>
                <button class="button button-chinapost"
                        ng-disabled="loanCheckReportInfo.videoType.length>=captureParameter.videoType_num_checkrpt"
                        ng-click="addCapture('VIDEO')">
                    <i class="icon ion-android-add"></i>
                </button>
            </div>
            <a ng-repeat="video in loanCheckReportInfo.videoType" ng-click="openMedia('VIDEO',video)"
               class="item item-light item-thumbnail-left item-button-right">
                <img src="img/icon/video.png">
                <h2 ng-bind="video.name"></h2>
                <p>
                    <span ng-bind="video.lastModifiedDate|date:'yyyy-MM-dd HH:mm:ss'"></span>
                </p>
                <p><span ng-bind="video.size/1024/1024|currency:''"></span>MB</p>
                <button class="button button-assertive" ng-click="deleteCapture($event,'VIDEO',video)"
                        style="top: 32px;">
                    <i class="icon ion-android-delete"></i>
                </button>
            </a>
        </div>

        <div class="list padding">
            <div class="item item-button-right" style="background-color: #f5f5f5;">
                录音
                <span class="padding-left" ng-bind="loanCheckReportInfo.audioType.length"></span>/<span
                    ng-bind="captureParameter.audioType_num_checkrpt"></span>
                <button class="button button-chinapost"
                        ng-disabled="loanCheckReportInfo.audioType.length>=captureParameter.audioType_num_checkrpt"
                        ng-click="addCapture('AUDIO')">
                    <i class="icon ion-android-add"></i>
                </button>
            </div>
            <a ng-repeat="audio in loanCheckReportInfo.audioType" ng-click="openMedia('AUDIO',audio)"
               class="item item-light item-thumbnail-left item-button-right">
                <img src="img/icon/audio.png">
                <h2 ng-bind="audio.name"></h2>
                <p>
                    <span ng-bind="audio.lastModifiedDate|date:'yyyy-MM-dd HH:mm:ss'"></span>
                </p>
                <p>
                    <span ng-bind="audio.size/1024/1024|currency:''"></span>MB
                </p>
                <button class="button button-assertive" ng-click="deleteCapture($event,'AUDIO',audio)"
                        style="top: 32px;">
                    <i class="icon ion-android-delete"></i>
                </button>
            </a>
        </div>

        <div class="row">
            <div ng-if="!!!isAutoTemporary" class="col">
                <button class="button  button-block button-calm" ng-click="temporary()">暂存</button>
            </div>
            <div class="col">
                <button class="button  button-block button-chinapost" ng-click="save()">保存</button>
            </div>

        </div>

    </ion-content>
</ion-view>
