<table cellpadding="0" cellspacing="0" class="grid-stable" style="width:100% ; margin-top: 14px;">
  <tr>
    <td class="grid-stable-td">
      <table style="width: 100%;">
        <tr>
          <td width="90" class="grid-stable-right-td center">客户名称</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['客户名称']"></td>
          <td width="90" class="grid-stable-right-td center">性别</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['性别']"></td>
          <td width="90" class="grid-stable-right-td center">建档登记人</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['建档登记人']"></td>
          <td width="90" class="grid-stable-right-td center">客户分类</td>
          <td>&nbsp;<span ng-bind="customerInfo['客户分类']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table style="width: 100%;">
        <tr>
          <td class="title">&nbsp;一、客户信息</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">客户英文名称</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['客户英文名称']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">出生日期</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['出生日期']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">证件号码</td>
          <td>&nbsp;<span ng-bind="customerInfo['证件号码']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">健康状况</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['健康状况']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">教育水平</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['教育水平']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">婚姻状况</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['婚姻状况']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">最高学位</td>
          <td>&nbsp;<span ng-bind="customerInfo['最高学位']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table style="width: 100%;">
        <tr>
          <td class="title">&nbsp; 二、联系方式</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">移动电话</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['移动电话']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">住所固定电话</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['住所固定电话']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">电子邮箱</td>
          <td>&nbsp;<span ng-bind="customerInfo['电子邮箱']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">住所行政区划</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['住所行政区划']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">居住详细地址</td>
          <td>&nbsp;<span ng-bind="customerInfo['居住详细地址']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">户籍所在行政区划</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['户籍所在行政区划']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">户籍所在地</td>
          <td>&nbsp;<span ng-bind="customerInfo['户籍所在地']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">本地居住年限</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['本地居住年限']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">住所邮编</td>
          <td>&nbsp;<span ng-bind="customerInfo['住所邮编']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table style="width: 100%;">
        <tr>
          <td class="title">&nbsp; 三、单位信息</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">本行业从业年限</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['本行业从业年限']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">职称</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['职称']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">职业</td>
          <td>&nbsp;<span ng-bind="customerInfo['职业']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">职务</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['职务']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">工作单位名称</td>
          <td>&nbsp;<span ng-bind="customerInfo['工作单位名称']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">单位邮编</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['单位邮编']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">单位固定电话</td>
          <td>&nbsp;<span ng-bind="customerInfo['单位固定电话']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">单位所在行政区划</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['单位所在行政区划']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">单位详细地址</td>
          <td>&nbsp;<span ng-bind="customerInfo['单位详细地址']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-stable-td">
      <table>
        <tr>
          <td width="90" class="grid-stable-right-td center">修改时间</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['修改时间']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">最新维护机构</td>
          <td width="90" class="grid-stable-right-td center" ng-bind="customerInfo['最新维护机构']">&nbsp;</td>
          <td width="90" class="grid-stable-right-td center">操作机构</td>
          <td>&nbsp;<span ng-bind="customerInfo['操作机构']"></span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
